.c-footer__background {
  background-color: #021d26;
  padding: 50px;

  p, a {
    color: #808a94 !important;
    transition: .3s;

    &:hover {
      color: #fff !important;
    }
  }
}

.title--footer {
  color: $white;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
}

.c-footer__menu {
  .menu {
    padding: 0;

    .menu-item {
      list-style-type: none;

      &.active {

        &:before {
          content: '';
          position: absolute;
          margin-top: 7px;
          margin-left: -5px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #80d0ff;
        }
      }

      a {
        margin-left: 10px;
        color: $white;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .c-footer__background {
    padding: 10px 0;
  }
}